.footer-container p {
  color: red;
}

.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  color: #fff;
  text-align: center;
  height: 4rem;
  border: 1px solid red;
  text-align: center;
  align-items: center;
  justify-content: center;
}