.form-container  {
  border: 1px solid purple;
  margin: 15rem 60rem;
}

.form-container h1 {
  text-align: center;
  margin-top: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  align-items: center;
}

.container input,
.container label, .container textarea {
  width: 20rem;
}

.container input, .container textarea {
  margin-bottom: 1rem;
  height: 2rem;
}

.container label {
  margin-bottom: 1rem;
}

.register-suggestion {
  text-decoration: none;
}
