
.main-container {
  background-color: olive;
}
.article-container {
  border: 1px solid blue;
  height: 850px;
  margin: 10rem 15rem;
}

.welcome-section h2 {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
}

.section-title  {
  color: beige;
  text-align: center;
  padding-top: 2rem;
}

.article {
  display: flex;
  flex-direction: column;
  gap: 0.50rem;
  align-items: center;
}

.article img {
  height: 7rem;
  border-radius: 1rem;
  box-shadow: 18px 10px 20px 6px rgba(0,0,0,0.1);
  margin-top: 2rem;
  width: 18rem;
}

.article h3 {
  font-weight: 900;
  font-size: 1.55rem;
}

.article h4 {
  font-style: italic;
}

.article p {
  font-style: italic;
}

.details-button {
  background-color:aqua;
  text-decoration: none;
  border-radius: 0.50rem;
  padding: 0.75rem;
  color: #fff;
  font-weight: 700;

}

.image-wrap {
  height: 7rem;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 0.50rem;
  display: flex;
  justify-content: center;
}

.image-wrap img {
  max-width:100%;
  max-height:100%;
}

.no-articles {
  text-align: center;
}

.no-articles {
  text-align: center;
  margin-top: 30rem;
}

.section-title {
  color: black;
}

.empty  {
  display: flex;
  flex-direction: column;
}

.empty img {
  position: absolute;
  height: 5rem;
  width: 5rem;
  margin-top: 25rem;
  margin-left: 77.5rem;
}


/* Animating fire icon for the future */